<div class="container">
  <h1>List all the things herererererer!</h1>
</div>

<% @lists.each do |list|  %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : cl_image_path("movies_ciljth") %>')">
  <%= list.name  %>
  </div>
<% end %>
