<%# <%= render "navbar" %>
<div class="banner" style=>
  <div class="container">
    <h1>Make some lists of <strong>movies</strong> to <strong>impress your friends</strong>!</h1>
    <h2>Because one day someone will be like "Did you see that one film with that guy in?" and you'll be all like "Umm, I think so maybe?"</h2>
    <p>And then you can go home and add it to a list on here to remind yourself to watch it sometime or maybe just look at the reviews and pretend to you've seen it because, y'know, you don't wanna look stupid if the topic ever comes up again.</p>
    <div class="btn btn-flat">
      <p> <%= link_to "New List", new_list_path %></p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container mt-3 mb-5">
    <div class="cards">
      <% @lists.each do |list|  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : cl_image_path("movies_ciljth") %>')">
          <%= link_to list.name, list_path(list)   %>
        </div>
      <% end %>
    </div>
  </div>
</div>
